/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
 margin: 0px;
font-family: "Poppins", sans-serif;
}


/* -------top part ------*/
main{
    overflow: hidden;
}
.top-container {
    background: #2d25a0;
    display: flex;
    justify-content: space-between;
    }

.top-design-text-left h1 {
    font-size: 60px;
    color: white;
    margin: 73px;
}
.top-design-text-left a {
    padding: 10px 20px;
    background-color: #e02c6d;
    color: white;
    text-decoration: none;
    transition: all 1s ease-in-out;
    width: 88px;
    height: 24px;
    margin-left: 79px;
    top: 10px;
}
.top-design-text-left a:hover {
    padding: 10px 30px;
    border-radius: 10px;
}
.top-design-photo-rigth img {
    margin-left: 20px;
    width: 556.01px;
    height: 438px;
    padding: 70px;
    transition: transform 1s;
}

.top-design-photo-rigth img:hover {
    transition: 1.5s ease-in;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
/* main-top-part-- */
/* blog style start */
.blog-container {
    display: flex;
    justify-content: center;
    grid-gap: 15px;
    flex-wrap: wrap;
    margin-top: 60px;
}
.blogs {
    width: 330px;
    height: 456px;
    box-shadow: -2px 10px 15px 13px #ddd;
    border-radius: 5px;
}
.blog {
    padding: 16px;
}
.blog img {
    width: 300px;
    height: 256px;
}
.blog h3, p {
    width: 100%;
    height: 100%;
    }

/* blog style ended */

/* Watch-live part-start */

.watch-now-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin-top: 180px;
}
.watch-now-left {
    width: 534px;
    height: 309px;
    align-items: center;

    margin-top: 44px;
}
.watch-now-left > h1 {
margin-right: 20px;
width: 80%;
}

.why-not-center {
    margin-top: -155px;
}
.why-not-center a {
    transition: border-radius 1s ease-in-out;
}
.why-not-center a:hover {
    border-radius: 20px;
}
.watch-now-left > p {
    margin-right: 20px;
    width: 80%;
}
.watch-now-left a {
    padding: 9px 20px;
    background: #e02c6d;
    color: white;
    text-decoration: none;
}
#live{
    background-color: red;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    border-radius: 19px;
}
.watch-now-right img {
    width: 488px;
    height: 343px;
}

/* Watch-live part-ended */

 
/* footer */
.footer {
margin-top: 50px;
}
.footer img {
width: 262px;
display: block;
margin: 0 auto;
}

.footer div {
    text-align: center;
    margin: 20px;
    margin-left: 64px;
}

.fa-instagram, .fa-futbol,.fa-twitter,.fa-youtube {
    padding: 10px;
    border-radius: 50px;
    background-color: #aaa;
}
#copyrigth-symbol{
    text-align: center;
}
/* footer-end */

/* -----------------------------
media query for mobile device
------------------------------ */
@media only screen and (max-width: 668px) {
.top-container {
    justify-content: space-around;
    flex-wrap: wrap;
   
}
.top-design-photo-rigth img {
    width: 329px;
    height: 259.17px;
    left: 344px;
    top: 374px;
}

.watch-now-left > h1 {
    margin-right: 20px;
    width: 100%;
    text-align: center;
}
.watch-now-left > p {
    margin-right: 20px;
    width: 100%;
    text-align: center;
}
.why-not-center {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: -207px;
}
 
}
@media only screen and (max-width: 320px) {
.top-container {
    justify-content: space-around;
    flex-wrap: wrap;
}
.top-design-text-left h1 {
    font-size: 37px;
}
.top-design-photo-rigth img {
    width: 356.01px;
    height: 318px;
    margin-left: -28px;
    margin-top: 53px;
}

.watch-now-left > h1 {
    margin-right: 20px;
    width: 100%;
    text-align: center;
}
.watch-now-left > p {
    margin-right: 20px;
    width: 100%;
    text-align: center;
}
.why-not-center {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: -187px;
}
 
}